---
import Layout from "../../layouts/Layout.astro";
import Video from "../Video.astro";
import Intro from "../Intro.astro";
import Bento from "../Bento.astro";
import PreFooter from "../PreFooter.astro";
import Footer from "../Footer.astro";

const { currentLocale } = Astro;

console.log(currentLocale);

const title = "Welcome to Esland Awords";
const description = "Welcome to Esland Awords";
const cardsArray = [
  {
    title: "Documentation",
    body: "Learn how Astro works and explore the official API docs.",
    href: "https://docs.astro.build/",
  },
  {
    title: "Integrations",
    body: "Supercharge your project with new frameworks and libraries.",
    href: "https://astro.build/integrations/",
  },
  {
    title: "Themes",
    body: "Explore a galaxy of community-built starter themes.",
    href: "https://astro.build/themes/",
  },
  {
    title: "Community",
    body: "Come say hi to our amazing Discord community. ❤️",
    href: "https://astro.build/chat/",
  },
];
---

<Layout title={title} description={description}>
  <!-- <link
    rel="preload"
    href="/fonts/jura.woff2"
    as="font"
    type="font/woff2"
    crossorigin
    slot="preload"
  /> -->

  <Video />

  <main>
    <Intro />
    <Bento />
    <PreFooter />
  </main>

  <Footer />
</Layout>
