---
---
<div class="w-full">
    <video
    class="cp-v h-full w-full animate-fade object-cover object-top animate-duration-1000 animate-ease-in-out"
    src="/video.webm"
    autoplay
    loop
    muted></video>
  <video
    class="absolute -bottom-48 -z-40 blur-3xl"
    src="/video.webm"
    autoplay
    loop
    muted></video>
</div>