---

---

<div class="w-full relative">
  <img
    class="cp-v h-full w-full animate-fade object-cover object-top animate-duration-1000 animate-ease-in-out"
    src="/assets/img/esland_bg.jpg"
    alt="Esland Awards Communty">
  <video
    class="cp-v h-full w-full animate-fade object-cover object-top animate-duration-1000 animate-ease-in-out"
    src="/assets/video/esland_bg.webm"
    autoplay
    loop
    muted></video>
  <video
    class="absolute -bottom-48 -z-40 blur-3xl"
    src="/assets/video/esland_bg.webm"
    autoplay
    loop
    muted></video>
</div>
